.judulpage {
	font-size:14px;
	color:#002A42;
	
  }
  .dt-body-center {
  text-align: center;
}

.dt-body-left {
  text-align: left;
}

.dt-body-justify {
  text-align:justify;
}

thead {
  text-align: center;
}

.table {
  font-size: 14px;
}

.teksred {
 color: red;
}

.teksgreen {
  color: rgb(11, 131, 27);
 }

 .judulpage {
	font-size:14px;
	color:#002A42;
	
  }