 

 .judulpage {
	font-size:18px;
	 
	 color:#002B43;
	font-weight: bold;
	text-decoration: underline;
	margin-left:17.5px;
	margin-top:10px;
	margin-bottom: 10px;

  }

  .page-header-titles{
	font-size:15px;
	color:#002B43;
	font-weight: bold;
	text-decoration: underline;
	margin-left:10px;
	margin-top:10px;
	margin-bottom: 10px;
  }



